* {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.add-book-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: red; */
  width: 100%;
  height: 85%;
}

.left-side-bar {
  width: 30%;
  height: 100%;
  border-right: 1px dotted rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img-container {
  width: 40%;
  height: 25%;
  margin-top: 3vh;
  /* background-color: blue; */
}

.book-stands {
  width: 70%;
  height: 6vh;
}

.book-intro-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 40%;
  /* background-color: red; */
}

.book-intro {
  display: flex;
  flex-direction: row;
  margin-right: 1.5vw;
  width: 80%;
}
.book-intro-txt {
  margin-bottom: 0.5vh;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 5%;
}
.book-intro-info {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.book-intro-info-name,
.book-intro-info-author,
.book-intro-info-publisher,
.book-intro-info-pub-date {
  margin-bottom: 0.8vh;
  margin-left: 15%;
  font-weight: 600;
  /* color: rgba(0, 0, 0, 0.6); */
}

.book-intro-info-publisher,
.book-intro-info-pub-date {
  margin-left: 10%;
}

.book-brief-intro {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.book-intro-info-brief {
  font-weight: 600;
  font-size: 0.9rem;
  margin-top: 1vh;
  margin-left: 1vw;
}

.right-side-bar {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  /* background-color: blue; */
  /* justify-content: center; */
}

.book-report-right-side-bar {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

.top-title-bar {
  display: flex;
  width: 90%;
  height: 8%;
  align-items: center;
  /* background-color: red; */
  /* margin-left: 5%; */
  border-bottom: 1px solid black;
}

.how-to-write-container {
  width: 80%;
  height: 30vh;
  margin-top: 10vh;
  margin-left: 20%;
  position: relative;
}

.how-to-write-container p {
  margin-bottom: 5vh;
}

.how-to-write-container h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 2vh;
}

.how-to-write {
  font-family: "santokki";
  font-size: 2.5rem;
  margin-bottom: 3vh;
}

.add-book-img-container {
  position: relative;
}

.add-book-img {
  position: absolute;
  margin-left: 40vw;
  top: 5;
  left: 100;
  /* padding-bottom: 20vh; */
  margin-right: 50vw;
  /* bottom: 100; */
  width: 15vw;
}

.text-area-container {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  width: 48%;
  height: 40%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  /* background-color: red; */
}

.book-report {
  border: none;
  background-color: transparent;
  width: 90%;
  height: 80%;
  margin-top: 3.5vh;
  font-size: 0.9rem;
  font-weight: 650;
}

.book-report:focus {
  outline: none;
}

.book-report::placeholder {
  font-size: 0.9rem;
  font-weight: 650;
  color: rgba(0, 0, 0, 0.3);
}

.report-btn-container {
  /* width: 100%; */
  margin-top: 5vh;
  margin-left: 46vw;
  /* background-color: red; */
}

.report-cancle-btn {
  width: 3.9vw;
  height: 3.5vh;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.report-add-btn {
  width: 3.9vw;
  height: 3.5vh;
  background-color: #323047;
  color: white;
  border-radius: 5px;
}

.delete-btn {
  width: 6vw;
  height: 5vh;
  border: none;
  background-color: #323047;
  border-radius: 5px;
  color: white;
  margin-left: 63%;
  margin-bottom: 0.5%;
}

.book-report-bar {
  display: flex;
  width: 80%;
  height: 10vh;
  margin-top: 5vh;
  /* background-color: red; */
  align-items: center;
}

.profile-img {
  width: 5vw;
  height: 8vh;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

.book-report-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  margin-left: 2%;
}

.user-name {
  margin-top: 7%;
}

.creation-date {
  margin-top: 3%;
  font-size: 0.9rem;
}

.user-report-container {
  display: flex;
  width: 80%;
  height: 100%;
  margin-top: 4%;
}
