* {
  box-sizing: border-box; /* 패딩과 테두리를 포함하여 요소의 크기 계산 */
  font-family: "inter", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hidden-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.search-book-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  margin-top: 3%;
  width: 50%;
  height: 7%;
}

.search-book {
  background-color: transparent;
  width: 90%;
  border: none;
  margin-left: 20px;
  font-size: 1.4rem;
  font-weight: 540;
}

.search-btn {
  background-color: transparent;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.reading-glass {
  width: 45px;
  height: 45px;
}

.search-result-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 5%;
  margin-top: 1%;
  font-weight: 600;
}

.search-results {
  display: flex;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 50%;
  height: auto;
}

.book {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-top: 7%;
  margin-bottom: 3%;
}

.book-img {
  width: 15%;
  height: 160px;
  background-color: blue;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.book-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  margin-left: 5%;
}

.book-title {
  font-size: 1.5em;
  margin-top: 7%;
  font-weight: 700;
  margin-bottom: 30%;
}

.author {
  font-weight: 700;
  margin-bottom: 5%;
}
.publisher {
  font-weight: 700;
  margin-bottom: 3%;
}
.published-date {
  font-weight: 700;
}

.add-book-btn {
  width: 12%;
  height: 45px;
  margin-top: 8%;
  margin-left: 35%;
  background-color: #323047;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* 팝업창 */
#failed-login-modal {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 1;
}

.failed-login-icon {
  margin-right: 45%;
}

#failed-login-modal h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2%;
}

#failed-login-modal p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 3%;
  color: #a8a8a8;
}

#failed-login-modal button {
  width: 25%;
  height: 15%;
  border-radius: 22px;
  color: #fff;
  background-color: #323047;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

#failed-login-modal button:hover {
  opacity: 0.8;
}

#failed-login-modal .failed-modal-content {
  width: 35%;
  height: 30vh;
  margin: auto;
  vertical-align: middle;
  margin-top: -85vh;
  padding: 1%;
  background: #fff;
  border-radius: 10px;
}

#failed-login-modal .failed-login-modal-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.alert-message {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

/*----------------------------------------*/
#dc-wd-change-modal {
  display: none;
  position: relative;
  width: 100vw;
  height: 70vh;
  text-align: center;
  z-index: 1;
}

.dc-wd-change-icon {
  padding-top: 2%;
  padding-bottom: 3%;
}

.dc-wd-change-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2%;
}

.dc-wd-change-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 4%;
}

#dc-wd-confirm-button {
  width: 22%;
  height: 4vh;
  border-radius: 20px;
  color: #fff;
  background-color: #323047;
  font-size: 0.9rem;
  font-weight: 800;
  cursor: pointer;
}

#dc-wd-confirm-button button:hover {
  opacity: 0.8;
}

#dc-wd-cancle-button {
  width: 22%;
  height: 4vh;
  border-radius: 20px;
  border: 1px solid #a9a9a9;
  background-color: #fff;
  font-size: 0.9rem;
  font-weight: 800;
  cursor: pointer;
  margin-right: 5%;
}

.dc-wd-change-content {
  width: 35%;
  height: 33vh;
  margin: auto;
  vertical-align: middle;
  margin-top: -86vh;
  padding: 20px 10px;
  background: #fff;
  border-radius: 10px;
}

.dc-wd-change-modal-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
