.create-account-body {
    padding-top: 20px;
}

.create-account-header {
    width: 80%;
    height: 20%;
    padding-bottom: 1%;
    margin-left: 10%;
    border-style: solid;
    border-width: 0 0 0.0625rem 0;
    border-bottom-color: #a8a8a8;
    display: flex;
    justify-content: space-between;
}

.create-account-header span {
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    align-items: end;
}

.header-addition-msg {
    padding-top: 1%;
    font-size: 1.25rem;
    margin-left: 10%;
}

.create-account-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}

.user-profile-img {
    position: relative;
}

#open-change-modal-btn {
    position: absolute;
    border: 0;
    background-color: transparent;
    padding-left: 2%;
    margin-top: -3.5%;
    cursor: pointer;
}

#open-change-modal-btn:hover {
    opacity: 0.8;
}

/* 아이디 */
.create-account-id {
    align-items: center;
}

.create-account-message {
    padding-bottom: 3%;
    padding-top: 2%;
}

.create-account-id-msg {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 11%;
}

.create-account-id-input {
    width: 41vw;
    height: 8vh;
    border: 0;
    border-radius: 10px;
    margin-left: 10%;
}

.create-account-authorize-input {
    width: 41vw;
    height: 8vh;
    border: 0;
    border-radius: 10px;
    margin-left: 10%;
}

.email-authorize-btn {
    background-color: #323047;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 7vw;
    height: 6.5vh;
    font-size: 1rem;
    margin-left: -16.5%;
    margin-top: 2%;
    cursor: pointer;
}

.authorize-msg {
    font-size: 1rem;
    color: #999999;
    border: none;
    background-color: transparent;
    margin-left: 10%;
    cursor: pointer;
}

.error-create-id {
    font-size: 1rem;
    color: #c54848;
    display: none;
}

.email-submit-btn {
    background-color: #323047;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 7vw;
    height: 6.5vh;
    font-size: 1rem;
    margin-left: -16.5%;
    margin-top: 2%;
    cursor: pointer;
}

/* 닉네임 */
.create-account-nickname {
    margin-top: -2%;
}

.create-account-nickname-msg {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 4%;
}

.create-account-nickname-input {
    width: 41vw;
    height: 8vh;
    border: 0;
    border-radius: 10px;
    margin-left: 3%;
}

.alert-nickname {
    font-size: 0.8rem;
    color: #999999;
    margin-top: -1.5%;
    margin-left: 5%;
}

/* 비밀번호 */
.create-account-pw {
    padding-top: 1%;
}

.create-account-pw-msg {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 5%;
}

.create-account-pw-submsg {
    font-size: 0.75rem;
    color: #999999;
    padding-left: 2%;
}

.create-account-pw-input {
    width: 41vw;
    height: 8vh;
    border: 0;
    border-radius: 10px;
    margin-left: 3%;
    margin-top: -2%;
}

.double-check-pw-input {
    width: 41vw;
    height: 8vh;
    border: 0;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 3%;
}

.error-create-pw {
    font-size: 16px;
    color: #c54848;
    display: none;
}

.open-create-account-modal {
    margin: 10% 0;
    background-color: #323047;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    width: 8vw;
    height: 7vh;
    cursor: pointer;
}

.open-create-account-modal:hover {
    opacity: 0.8;
}

/* 이미지 변경 팝업창 */
#choose-img-modal {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
}

#change-img-button {
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
    background-color: #fff;
    border-width: 0;
    cursor: pointer;
}

.button-border {
    margin-left: 25px;
    padding-left: 15px;
    padding: 10px 0px 10px 15px;
    width: 320px;
    height: 60px;
    border-style: solid;
    border-width: 1px 0px;
    border-top-color: #d1d1d1;
    border-bottom-color: #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#back-basic-img-button {
    font-size: 17px;
    font-weight: 600;
    background-color: #fff;
    border-width: 0;
    cursor: pointer;
}

#no-change-button {
    padding-top: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #0d47d9;
    background-color: #fff;
    border-width: 0;
    cursor: pointer;
}

#choose-img-modal input:hover {
    opacity: 0.8;
}

.choose-img-content {
    width: 400px;
    height: 160px;
    margin: 100px auto;
    vertical-align: middle;
    margin-top: -720px;
    padding: 20px 10px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.choose-img-modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* 회원가입 완료 팝업창 */
#create-account-modal {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
}

.create-account-icon {
    padding-top: 13px;
    padding-bottom: 10px;
}

#create-account-modal p {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 40px;
}

#create-account-modal button {
    display: inline-block;
    width: 110px;
    height: 42px;
    border-radius: 5px;
    color: #fff;
    background-color: #323047;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

#create-account-modal button:hover {
    opacity: 0.8;
}

.create-account-content {
    width: 400px;
    height: 200px;
    margin: 100px auto;
    vertical-align: middle;
    margin-top: -720px;
    padding: 20px 10px;
    background: #fff;
    border-radius: 10px;
}

.create-account-modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
