/* 가장 큰 div 태그 (요소들을 감싸고있는 가장 큰 박스) */
.find-password-body {
    padding-top: 20px;
    position: relative; /* 자식 요소의 위치를 상대적으로 설정하기 위해 추가 */
}

/* 비밀번호 찾기 화면의 헤더 */
.find-password-header {
    width: 80%;
    height: 75px;
    padding-bottom: 10px;
    margin-left: 10%;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-bottom-color: #a8a8a8;
    display: flex;
    justify-content: space-between;
}

.find-password-header span {
    font-weight: 700;
    font-size: 48px;
    display: flex;
    align-items: end;
}

/* 회원가입시 사용한 이메일을 입력하세요 */
.find-password-explain {
    text-align: center;
    margin-top: 5%;
    font-size: 1.5rem;
}

/* 아이디 입력 창 */
.find-password-with-email {
    padding-top: 7%;
    margin-left: 26%;
}

.find-password-message {
    padding-bottom: 10px;
    padding-top: 10px;
}

.find-password-msg {
    font-size: 20px;
    font-weight: 600;
}

.find-password-input {
    width: 50vw;
    height: 8.5vh;
    border: 0;
    color: #000; /* 변경된 색상 */
    border-radius: 10px;
}

.error-find-password {
    font-size: 16px;
    color: #c54848;
    display: none;
}

/* 이메일 입력 확인 버튼 */
.email-submit-btn {
    background-color: #323047;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 9vw;
    height: 6.5vh;
    font-size: 1.2rem;
    margin-left: -13.5%;
    margin-top: 2%;
}

/* 이메일 전송 완료 팝업 */
.send-email,
.find-password-error-message {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 배경 */
    align-items: center;
    justify-content: center;
    z-index: 999; /* 최상위에 표시 */
}

.send-email-popup,
.find-password-error-message-popup {
    width: 35vw;
    height: 40vh;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-left: 10%;
}

.send-email-message {
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 5%;
}

.send-email-message-sub {
    font-weight: 600;
    text-align: center;
    margin-top: 3%;
    color: #9b9b9b;
}

.go-to-login {
    margin-top: 35%;
    background-color: #323047;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    width: 8vw;
    height: 5vh;
}

.failed-find-email-icon {
    width: 50px; /* 아이콘 크기 */
    height: 50px; /* 아이콘 크기 */
    margin-top: 8%;
}

.alert-message {
    font-weight: bolder;
    margin-top: 5%;
    text-align: center;
    font-size: 1.5rem;
}

.alert-message-sub {
    font-weight: 600;
    margin-top: 5%;
    text-align: center;
    color: #9b9b9b;
}

#failed-find-email-button {
    margin-top: 40%;
    background-color: #323047;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    width: 8vw;
    height: 5vh;
}
