.login-page {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
}

.login-page-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8%;
    margin-left: 10%;
}

.login-img {
    width: 90%;
    height: 90%;
}

.login-page-right {
    display: flex;
    flex-direction: column;
    width: 265%;
    height: 50vh;
    margin-top: 50%;
}

.login-id {
    width: 100%;
    height: 30%;
}
.login-id p {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2%;
}

.login-id-input {
    border-width: 0;
    width: 100%;
    height: 55%;
    border-radius: 10px;
}

.login-pw {
    width: 100%;
    height: 30%;
}

.login-pw p {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2%;
}

.login-pw-input {
    border-width: 0;
    width: 100%;
    height: 55%;
    border-radius: 10px;
}

.login-btn {
    width: 38%;
    height: 130%;
    color: #fff;
    background-color: #323047;
    font-weight: 800;
    font-size: 1.4rem;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 30%;
}

.login-btn:hover {
    opacity: 0.8;
}

.create-account-msg {
    font-weight: 500;
    font-size: 0.8rem;
    color: #9b9b9b;
    margin-top: 5%;
    margin-left: 30%;
}

/* 팝업창 */
#failed-login-modal {
    /* display: none; */
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 1;
}

.failed-login-icon {
    color: #fff;
    background-color: #e0e0e0;
    width: 12.5%;
    height: 30%;
    font-size: 5rem;
    border-radius: 50%;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 43.9%;
}

#failed-login-modal h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2%;
}

#failed-login-modal p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 3%;
    color: #a8a8a8;
}

#failed-login-modal button {
    width: 25%;
    height: 20%;
    border-radius: 22px;
    color: #fff;
    background-color: #323047;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

#failed-login-modal button:hover {
    opacity: 0.8;
}

#failed-login-modal .failed-modal-content {
    width: 40%;
    height: 35vh;
    margin: auto;
    vertical-align: middle;
    margin-top: -70vh;
    padding: 1%;
    background: #fff;
    border-radius: 10px;
}

#failed-login-modal .failed-login-modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
