.mypage-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.mypage-container {
    display: flex;
    background-color: white;
    margin-top: 5%;
    width: 70%;
    height: 80%;
}
