/* 탈퇴 재확인 팝업창 */
#create-account-modal {
    /* display: none; */
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
}

.create-account-icon {
    padding-top: 13px;
    padding-bottom: 10px;
}

#create-account-modal p {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 40px;
}

#create-account-modal button {
    display: inline-block;
    width: 110px;
    height: 42px;
    border-radius: 5px;
    color: #fff;
    background-color: #323047;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

#create-account-modal button:hover {
    opacity: 0.8;
}

.create-account-content {
    width: 400px;
    height: 200px;
    margin: 100px auto;
    vertical-align: middle;
    margin-top: -720px;
    padding: 20px 10px;
    background: #fff;
    border-radius: 10px;
}

.create-account-modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* 회원 팝업창 */
#failed-login-modal {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 1;
}

.failed-login-icon {
    color: #fff;
    background-color: #e0e0e0;
    width: 12.5%;
    height: 30%;
    font-size: 4.8rem;
    border-radius: 50%;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 43.9%;
}

#failed-login-modal h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2%;
}

#failed-login-modal p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 3%;
    color: #a8a8a8;
}

#failed-login-modal button {
    width: 25%;
    height: 20%;
    border-radius: 22px;
    color: #fff;
    background-color: #323047;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

#failed-login-modal button:hover {
    opacity: 0.8;
}

#failed-login-modal .failed-modal-content {
    width: 40%;
    height: 35vh;
    margin: auto;
    vertical-align: middle;
    margin-top: -70vh;
    padding: 1%;
    background: #fff;
    border-radius: 10px;
}

#failed-login-modal .failed-login-modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
