/* 탈퇴 재확인 팝업창 */
#dc-wd-change-modal {
    display: none;
    position: relative;
    width: 100vw;
    height: 70vh;
    text-align: center;
    z-index: 1;
}

.dc-wd-change-icon {
    padding-top: 2%;
    padding-bottom: 3%;
}

.dc-wd-change-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2%;
}

.dc-wd-change-subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 4%;
    color: #9b9b9b;
}

#dc-wd-confirm-button {
    width: 15%;
    height: 5vh;
    border-radius: 20px;
    color: #fff;
    background-color: #323047;
    font-size: 0.9rem;
    font-weight: 800;
    cursor: pointer;
}

#dc-wd-confirm-button button:hover {
    opacity: 0.8;
}

#dc-wd-cancle-button {
    width: 15%;
    height: 5vh;
    border-radius: 20px;
    border: 1px solid #a9a9a9;
    background-color: #fff;
    font-size: 0.9rem;
    font-weight: 800;
    cursor: pointer;
    margin-right: 5%;
}

.dc-wd-change-content {
    width: 45%;
    height: 35vh;
    margin: auto;
    vertical-align: middle;
    margin-top: -65vh;
    padding: 20px 10px;
    background: #fff;
    border-radius: 10px;
}

.dc-wd-change-modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* 존재하지 않는 회원 팝업창 */
#failed-account-modal {
    display: none;
    position: relative;
    width: 100vw;
    height: 70vh;
    text-align: center;
    z-index: 1;
}

.failed-account-icon {
    color: #fff;
    background-color: #e0e0e0;
    width: 12.5%;
    height: 30%;
    font-size: 4.8rem;
    border-radius: 50%;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 43.9%;
}

#failed-account-modal h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2%;
}

#failed-account-modal p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 3%;
    color: #a8a8a8;
}

#failed-account-modal button {
    width: 25%;
    height: 20%;
    border-radius: 22px;
    color: #fff;
    background-color: #323047;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

#failed-account-modal button:hover {
    opacity: 0.8;
}

.failed-account-content {
    width: 40%;
    height: 35vh;
    margin: auto;
    vertical-align: middle;
    margin-top: -62vh;
    padding: 1%;
    background: #fff;
    border-radius: 10px;
}

.failed-account-modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
